.foot{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    justify-items: center;
    background-color: #FFF4E7;
}
.rights{
    font-size: 17px;
    font-weight: 400;
    padding: 20px;
}