@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Dark - 01 */
.dark-1{
    color: #131313;
}
/* Dark - 02 */
.dark-2{
    color: #424242;
}
/* Dark - 03 */
.dark-3{
    color: #727272;
}
/* Background Color */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* Button Primary */
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    columns: white;
    padding: 20px 25px;
    font-size: 1.1rem;
    font-family: 600;
    border: none;
    border-radius: 8px;
}

.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    /* margin-bom: 10px; */
}
.ul-links{

}
.items{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1000px;
    margin: 0 auto;
}
.brand{
    font-size: 2rem;
    font-family: 700;
}
.banner-img{
    max-width: 100%;
    display: block;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 30px;
}
.banner-title{
    font-size: 3.7rem;
    font-family: 700;
}
.banner-des{
    font-size: 1rem;
    font-family: 400;
}
/* Responsive media query for small device */
@media screen and (max-width: 576px){
    .navbar , .ul-links{
        flex-direction: column;
    }
    .xyz{
        margin-left: 30px;
    }
}