.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.title{
    font-size: 38px;
    font-weight: 700;
}
#title-border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.part-2_device{

}
.part-2_des{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    padding: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-bottom: 10px;
}
.part-2{
    align-items: center;
    gap: 80px;
    flex: 1;
}
.sister-img{
    width: 570px;
    height: 900px;
}
#experience-badge{
    margin-left: -40px;
    margin-top: -70px;
}
#experience-year{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 700;
}
#experience{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
/* Responsive */
@media screen and (max-width: 576px) {
    .part-2{
        flex-direction: column;
    }
    .sister-img{
        width: 100%;
    }
    #experience-badge{
        margin-left: 100px;
        margin-top: -50px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .part-2{
        flex-direction: column;
    }
    #experience-badge{
        margin-left: 10px;
        margin-top: -40px;
    }
}